<footer class="bg-dark text-white text-center py-3">
    <p>© 2024 Вашето IT приложение.</p>
</footer>
<script>
    function filterTable() {
        const filter = document.getElementById('filter').value.toUpperCase();
        const table = document.querySelector('.table');
        const trs = table.querySelectorAll('tbody tr'); // Вземяме всички редове от тялото на таблицата
    
        trs.forEach(tr => {
            const clientName = tr.querySelector('td:nth-child(2)').textContent.toUpperCase(); // Име на клиента
            const serviceName = tr.querySelector('td:nth-child(4)').textContent.toUpperCase(); // Услуга
            const employeeName = tr.querySelector('td:nth-child(3)').textContent.toUpperCase(); // Име на служителя
    
            if (clientName.includes(filter) || serviceName.includes(filter) || employeeName.includes(filter)) {
                tr.style.display = ""; // Показваме реда
            } else {
                tr.style.display = "none"; // Скриваме реда
            }
        });
    }
    </script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>