<!-- Включване на header -->
{% include 'header.html' %}
    <header class="bg-info text-white text-center py-4">
        <h1>Добре дошли в нашето IT приложение!</h1>
    </header>
    
    <!-- Включване на навигационния бар -->
    {% include 'navbar.html' %}
    
    <main class="container text-center my-5">
        <h2>Нашите услуги</h2>
        <p>Тук можете да добавяте, преглеждате и управлявате услугите, които предлагате.</p>
    </main>
<!-- Включване на footer -->
{% include 'footer.html' %}
