<!-- Включване на header -->
{% include 'header.html' %}
<!-- Включване на навигационния бар -->
{% include 'navbar.html' %}
<main class="container my-5">
    <h2 class="text-center">Списък с услуги</h2>
    
    <div class="text-right mb-3">
        <a href="{{ url_for('services.add_service') }}" class="btn btn-primary">Добави нова услуга</a>
    </div>
    
    {% if services %}
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th class="text-center">ID</th>
                <th>Име</th>
                <th>Описание</th>
                <th class="text-center">Цена</th>
            </tr>
        </thead>
        <tbody>
            {% for service in services %}
            <tr>
                <td class="text-center">{{ service.id }}</td>
                <td>{{ service.name }}</td>
                <td>{{ service.description }}</td>
                <td class="text-center">{{ service.price  }} BGN</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="alert alert-warning text-center" role="alert">
        Няма налични услуги.
    </div>
    {% endif %}
</main>
<!-- Включване на footer -->
{% include 'footer.html' %}
