<nav class="navbar navbar-expand-lg navbar-light bg-custom">
    <div class="container d-flex justify-content-between">
        <a class="navbar-brand text-white" href="#">#itbuddies/</a>

        <!-- Бутон за мобилно меню -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('index') }}">Начало</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="servicesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Услуги
                    </a>
                    <div class="dropdown-menu" aria-labelledby="servicesDropdown">
                        <a class="dropdown-item" href="{{ url_for('services.add_service') }}"><i class="fas fa-plus"></i> Добавяне на услуга</a>
                        <a class="dropdown-item" href="{{ url_for('services.list_services') }}"><i class="fas fa-list"></i> Преглед на услуги</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="visitsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Посещения
                    </a>
                    <div class="dropdown-menu" aria-labelledby="visitsDropdown">
                        <a class="dropdown-item" href="{{ url_for('visits.add_visit') }}"><i class="fas fa-plus"></i> Добавяне на посещение</a>
                        <a class="dropdown-item" href="{{ url_for('visits.list_visits') }}"><i class="fas fa-list"></i> Преглед на посещения</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="clientsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Клиенти
                    </a>
                    <div class="dropdown-menu" aria-labelledby="clientsDropdown">
                        <a class="dropdown-item" href="{{ url_for('clients.add_client') }}"><i class="fas fa-plus"></i> Добавяне на клиент</a>
                        <a class="dropdown-item" href="{{ url_for('clients.list_clients') }}"><i class="fas fa-list"></i> Преглед на клиенти</a>
                        <a class="dropdown-item" href="{{ url_for('employees.add_employee') }}"><i class="fas fa-user-plus"></i> Добавяне на служител</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="productsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Продукти
                    </a>
                    <div class="dropdown-menu" aria-labelledby="productsDropdown">
                        <a class="dropdown-item" href="{{ url_for('products.add_product') }}"><i class="fas fa-plus"></i> Добавяне на продукт</a>
                        <a class="dropdown-item" href="{{ url_for('products.list_products') }}"><i class="fas fa-list"></i> Преглед на продукти</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="productsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Оферти
                    </a>
                    <div class="dropdown-menu" aria-labelledby="productsDropdown">
                        <a class="dropdown-item" href="{{ url_for('offers.add_offer') }}"><i class="fas fa-plus"></i> Оферта за услуги</a>
                        <a class="dropdown-item" href="{{ url_for('maintenance_offers.add_maintenance_offer') }}"><i class="fas fa-plus"></i> Оферта за поддръжка</a>
                        <a class="dropdown-item" href="{{ url_for('offers.list_offers') }}"><i class="fas fa-list"></i> Списък с оферти</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="systemDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Системни
                    </a>
                    <div class="dropdown-menu" aria-labelledby="systemDropdown">
                        <a class="dropdown-item" href="{{ url_for('users.create_user') }}"><i class="fas fa-user-cog"></i> Добави потребител</a>
                        <a class="dropdown-item" href="{{ url_for('reports.generate_report') }}"><i class="fas fa-file-pdf"></i> Генериране на отчети</a>
                        <a class="dropdown-item" href="{{ url_for('settings.manage_settings') }}"><i class="fas fa-user-cog"></i> Настройки</a>
                        <a class="dropdown-item" href="{{ url_for('assets.add_asset') }}"><i class="fas fa-user-cog"></i> Добави актив</a>
                    </div>
                </li>
            </ul>
        </div>
        <span class="navbar-text text-white">
            {% if current_user.is_authenticated %}
                {{ current_user.username }}
                <a href="{{ url_for('auth.logout') }}" class="btn btn-secondary btn-sm ml-2">Изход</a>
            {% endif %}
        </span>
    </div>
</nav>
