<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">#itbuddies/</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Начало</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Услуги
                    </a>
                    <div class="dropdown-menu" aria-labelledby="servicesDropdown">
                        <a class="dropdown-item" href="/add_service">Добавяне на услуга</a>
                        <a class="dropdown-item" href="/list_services">Преглед на услуги</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="visitsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Посещения
                    </a>
                    <div class="dropdown-menu" aria-labelledby="visitsDropdown">
                        <a class="dropdown-item" href="/add_visit">Добавяне на посещение</a>
                        <a class="dropdown-item" href="/list_visits">Преглед на посещения</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="clientsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Клиенти
                    </a>
                    <div class="dropdown-menu" aria-labelledby="clientsDropdown">
                        <a class="dropdown-item" href="/add_client">Добавяне на клиент</a>
                        <a class="dropdown-item" href="/list_clients">Преглед на клиенти</a>
                        <a class="dropdown-item" href="/add_employee">Добавяне на служител</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="clientsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Отчети
                    </a>
                    <div class="dropdown-menu" aria-labelledby="clientsDropdown">
                        <a class="dropdown-item" href="/generate_report">Генериране на отчети</a>
                        <a class="dropdown-item" href="/list_clients">Преглед на клиенти</a>
                    </div>
                </li>
                
            </ul>
        </div>
    </div>
</nav>
